@*
 * This template takes a single argument, a String containing a
 * メッセージの表示を行います
 *@
@(message: String, userForm: Form[User])

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/form.css")">

	<div class="content">
		@helper.form(action = routes.HomeController.login(), 'class -> "pure-form"){
			<fieldset>
				<div class="pure-control-group">
            		<input id="name" name="name" class="pure-input-1-4" type="text" placeholder="ユーザ名">
				</div>

				<div class="pure-control-group">
            		<input id="password" name="password" class="pure-input-1-4" type="password" placeholder="パスワード">
				</div>
		
				<div class="pure-controls">
					<input type="submit" class="pure-button pure-input-1-4 pure-button-primary" value="ログイン">
				</div>
			</fieldset>
		}
	</div>
}
