@*
 * This template takes a single argument, a String containing a
 * メッセージの表示を行います
 *@
@(questionList: List[Question])

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("質問一覧") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/top.css")">

	<div class="content">
		<div class="pure-menu pure-menu-horizontal">
   			<ul class="pure-menu-list">
        		<li class="pure-menu-item"><a href="#" class="pure-menu-link">新着</a></li>
        		<li class="pure-menu-item"><a href="#" class="pure-menu-link">未回答</a></li>
        		<li class="pure-menu-item"><a href="#" class="pure-menu-link">未解決</a></li>
        		<li class="pure-menu-item"><a href="#" class="pure-menu-link">解決済</a></li>
    		</ul>
		</div>
		@for(question <- questionList) {
			<div class="question-box">
				<div><a href="@routes.QuestionController.show(question.id)">@question.title</a></div>
			</div>
		}
	</div>
}
