@*
 * This template takes a single argument, a String containing a
 * メッセージの表示を行います
 *@
@(message: String, userForm: Form[User])

@*
 * Call the the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {
	<h1>Hello</h1>
	
	@helper.form(action = routes.UserController.create()){
		@helper.inputText(userForm("name"), '_label -> "ユーザ名")
		@helper.inputPassword(userForm("password"), '_label -> "パスワード")
		
		<input type="submit">
	}
}
